*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#19283f;
    --red-color:#ff3150;
    --green-color:#33d1cc;
    --section-color:#eff7fa;
}
.navbar {
    background-color: var(--main-color);
}
.navbar-nav .nav-link {
    color: white; 
}
.navbar-nav .nav-link.active {
    color: green; 
}
.navbar button{
    color: white;
}
.navbar .search {
    color: white;
    border-left: 1px solid white;
}
.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:active
{
    box-shadow: none;
}
nav .main-btn ,
.landing .main-btn
{
    background-color: var(--red-color);
    color: yellow;
    border: none !important;
}
.main-btn:hover {
    background-color: blueviolet;
    color: yellow;
}
.landing{
    height: calc(100vh - 56px);
    background-color: var(--main-color);
}
.main-title::before{
    content:'';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: var(--green-color);
}

.numb{
    height: 200px;
}
.feat .one {
    font-size: 12rem ;
    left: 50%;
    transform: translateX(-50%);
    color: #eff7fa;
}
.feat .pen {
    font-size: 5rem ;
    left: 50%;
    transform: translateX(-50%);
    color: var(--green-color);
}
.making {
    background-color: var(--section-color);
}
.making-link:hover {
    color: #ff3150 !important;
}
.nav-link.active{
    background-color: var(--red-color) !important;
    color: yellow !important;
}
.making-img:before {
    content: 'Application';
    width: 0%;
    height: 100%;
    position: absolute;
    left: -100%;
    bottom: 0;
    background-color: rgb(51 209 204 / 76%);
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.making-img:hover:before {
    width: 100%;
    left: 0;
    opacity: 1;
}
.making-img {
    overflow: hidden;
}
.making .main-btn
{
    background-color: var(--red-color);
    color: yellow;
    border: none !important;
}
.main-btn:hover {
    background-color: blueviolet;
    color: yellow;
}

@media(min-width:768px){
    .describtion {
        width: 510px;
    }
}
.design .main-btn 
{
    background-color: var(--red-color);
    color: yellow;
    border: none !important;
}

.team {
    background-color: var(--section-color);
}
.team .title {
    background-color: var(--green-color);
}
.project {
    background-color: var(--main-color);
}
.project .main-btn{
    background-color: var(--red-color);
    color: yellow;
    border: none !important;
}

.blog .card p:nth-of-type(2){
    margin-top: -0.7em;
}
.blog .main-btn {
    background-color: var(--red-color);
    color: yellow;
    border: none !important;
}
.submit h4 {
    font-size: 16px;
    letter-spacing: -1px;
}
.submit input:nth-of-type(1) {
    background-color: var(--main-color);
}
.submit input:nth-of-type(1)::placeholder {
    color: white;
    padding-left: 1em;
    font-weight: bold;
}
footer {
    background-color: var(--main-color);
}
footer li a{
    text-decoration: none;
}
footer button {
    background-color: var(--red-color);
}
footer .icon {
    height:35px;
    width: 35px;
    background-color: #1da1f2;
}
footer span:nth-of-type(1){
    color: var(--green-color);
}